---
import ParentContactform from "@components/parentcontactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Schools">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Parents</Fragment>
      <Fragment slot="desc">Get more information about Greenwear in your school.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Greenwear</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
            You can get in touch with us to ask your child's school to set up Greenwear. If your school already has Greenwear, please check the information delivered to you via your school's communication, or via email.        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>London, UK</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:leo@wilkin.studio"
              >leo@wilkin.studio</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+447450970998">+44 7450970998</a
            >
          </div>
        </div>
      </div>
      <div>
        <ParentContactform />
      </div>
    </div>
  </Container>
</Layout>