---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "School Specific",
    description:
      "Each partnered school enjoys its dedicated, school-specific store on the GreenWear platform, creating a tailored and convenient uniform shopping experience.",
    icon: "bx:bxs-school",
  },
  {
    title: "Environmentally Friendly",
    description:
      "GreenWear promotes sustainability by repurposing gently used school uniforms, reducing textile waste, and fostering responsible consumption.",
    icon: "bx:bxs-leaf",
  },
  {
    title: "Cost Effective",
    description:
      "GreenWear offers cost-effective solutions by providing gently used school uniforms at a fraction of the original cost, ensuring affordability for families and communities in need.",
    icon: "bx:bxs-coin",
  },
  {
    title: "Supports Refugees",
    description:
      "GreenWear supports minorities and refugees by subsidizing uniform costs, ensuring equitable access to education, fostering a sense of belonging, and promoting social integration within communities.",
    icon: "bx:bxs-building-house",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Giving communities resources to 
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
