---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="greenwear logo"
      aspectRatio="1:1"
      widths="100px"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Empowering Communities through Affordable Uniforms
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      At Greenwear, our aim is simple yet profound: to break down barriers to educarion by making school uniforms accessible to all.</wbr>We envision a world where every child, regardless of their background, has the chance to thrive in the classroom and beyond. Guided by the principles of sustainability, social inclusitivity, and community collaboration, we collect and provide affordable used uniforms to families, refugees, and low-income households. Our vision is to create a lasting impact by fostering a sense of belonging and empowerment among these communities, one uniform at a time.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Schools
      </Link>
      <Link
        size="lg"
        style="outline"
        href="#"
        class="flex gap-1 items-center justify-center">
        Parents
      </Link>
    </div>
  </div>
</main>
